<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
<body>

<h1>Game :  <%= title %> </h1>
<% if(title == "gta") %>
    <% {%>
        <p> this was build by me not rockstar games </p>
   <% } %>
<h1>Author : <%= author %> </h1>


</body>

</html>